<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/screen.PNG"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Google Map - Features</ion-card-subtitle>
      <ion-card-title>Projektaufgabe <br> E-Business</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Folgende Möglichkeiten bietet diese App</p>
      <ion-list>
        <ion-item> Wegstrecke berechnen </ion-item>
        <ion-item> Foto aufnehmen </ion-item>
        <ion-item> Darstellung des Weges</ion-item>
        <ion-item> Liste der gespeicherten Wegstrecken </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<p>© - Entwickelt durch die Hochschule Offenburg </p>
