<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Wegstrecke
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>Location Daten - Wegaufzeichnung beginnen</h4>

  <ion-button (click)="getPosition()">
    Start Aufzeichnung
  </ion-button>

  <ion-button (click)="stopLocationWatch()">
    Beende Aufzeichnung
  </ion-button>

  <ion-button (click)="calculateDistanceInKm()">
    Berechne Distanz
  </ion-button>

  <div *ngIf="geoLatitude">
    <p>Latitude 1 : {{geoLatitude}}</p>
    <p>Longitude 1 : {{geoLongitude}}</p>

    <p>Latitude 2 : {{geoStopLatitude}}</p>
    <p>Longitude 2 : {{geoStopLongitude}}</p>

    <p>Distance in km {{distanceInKm}} </p>

    <div class="container">
        <section class="timer-counter-label">
          <div *ngIf="counter; else elseBlock"> {{counter}} </div>
          <ng-template #elseBlock> Press Start </ng-template>
        </section>
        <section class="timer-button-container">
          <button class="timer-button" (click)="startTimer()">
        {{ startText }}
      </button>
          <button class="timer-button" (click)="clearTimer()">Clear</button>
        </section>
      </div>

  </div>

</ion-content>