<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Wegstrecke
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>Location Daten - Wegaufzeichnung beginnen</h4>

  <ion-button (click)="getPosition()" (click)="startTime()">
    Start Aufzeichnung
  </ion-button>

  <ion-button (click)="endTime()" (click)="stopLocationWatch()">
    Beende Aufzeichnung
  </ion-button>

  <ion-button (click)="calculateDistanceInKm()">
    Berechne Distanz
  </ion-button>

  <div *ngIf="geoLatitude && !show">
    <p>Aufzeichnung hat begonnen</p>
    <p>Aktuelle Dauer: {{showTime}}</p>
    <!--<p>Latitude 1 : {{geoLatitude}}</p>
    <p>Longitude 1 : {{geoLongitude}}</p>

    <p>Latitude 2 : {{geoStopLatitude}}</p>
    <p>Longitude 2 : {{geoStopLongitude}}</p>

    <p>Distance in km {{distanceInKm}} </p>
    
    <ion-button (click)="startTime()">Start</ion-button>
    <ion-button (click)="endTime()">End</ion-button>-->
  </div>

  <div *ngIf="show">
    <p>Aufzeichnung beendet</p>
    <p> Dauer für die Zurückgelegte Strecke: {{diff}} </p>
    <p>Zurückgelegte Stecke: {{distanceInKm}}km</p>
  </div>
  <div class="map-wrapper">
    <div id="map_center">
      <!-- <img src="../../assets/marker.svg" /> -->
    </div>
    <div #map id="map"></div>
  </div>
</ion-content>